<div class="contenitore">
    <div class="errore">
        <h2>Errore 404</h2>
    </div>
    
    <div class="testo">
        <h1>Aspetta...ma dove siamo finiti ?!</h1>
        <div class="paragrafo">
            <p>Sembra proprio che la pagina che stavi cercando non esiste o è stata rimossa. Usa il menu laterale per tornare alla pagina iniziale.</p>
        </div>
        <div class="foto">
            <img src="../../../assets/john travolta.gif" alt="john travolta image">
        </div>
    </div>
</div>
