<div style="background-color: aqua;">
    <div style="padding-left: 40px; display: block;">
        <a routerLink="">
            <img src="../../../assets/Pokémon_logo_extended.png" alt="pokemon logo" width="150px">
        </a>
    </div>

    <!-- <div style="margin-left: 580px;">
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Filtra Pokémon</mat-label>
            <input type="text"
                    placeholder="Inserisci qui il nome del Pokémon"
                    aria-label="Inserisci qui il nome del Pokémon"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let oggetto of oggetti" [value]="oggetto.nome">
                {{oggetto.nome}}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
        </form>
    </div> -->
</div>
