<div class="footer">
    <div class="blocco-uno">
        <ul>
            <li class="titolo">The Pokémon Company</li>
            <li>
                <a href="#">Notizie</a>
                </li>
            <li>
                <a href="#">Guida per i genitori</a>
            </li>
            <li>
                <a href="#">Servizio clienti</a>
            </li>
            <li>
                <a href="#">La nostra azienda</a>
            </li>
            <li>
                <a href="#">Seleziona un paese/regione</a>
            </li>
            <li>
                <a href="#">Sito stampa</a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="blocco-due">
        <ul>
            <li class="facebook">
                <a href="#"><img src="../../../assets/facebook.png" alt="Facebook share icon" width="30px"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/youtube.png" alt="YouTube share icon" width="30px"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/twitter.png" alt="Twitter share icon" width="30px"></a>
            </li>
            <li>
                <a href="#"><img src="../../../assets/instagram.png" alt="Instagram share icon" width="30px"></a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="blocco-tre">
        <img src="../../../assets/bbbnp_caru_coppa_safeharborkids.png" alt="Haru: Coppa Safe Harbor">
        <ul>
            <li>
                <a href="#">Termini di utilizzo</a>
            </li>
            <li>
                <a href="#">Informativa sulla privacy</a></li>
            <li>
                <a href="#">Pagina dei cookie</a>
            </li>
            <li>
                <a href="#">Informazioni legali</a>
            </li>
        </ul>
    </div>
</div>

